<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title>Demo angular-tree-dropdown</title>
    <link rel='stylesheet' href="tree-dropdown/tree-dropdown.css" />
    <script src="components/angular.min.js" ></script>
    <script src="demo.controller.js"></script>
    <script src="tree-dropdown/tree-dropdown.js"></script>
</head>
<body>
    <h2>Demo angular-tree-dropdown</h2>
    
    <div class="row" ng-controller="treeDropdownCtrl as ctrl">
        <div class="col-xs-6">
            <tree-dropdown class="tree-dropdown" data="ctrl.treeData" selected="ctrl.selected"></tree-dropdown>
        </div>
        <div class="col-xs-6">
            <button ng-click="ctrl.update()">Update Data Array</button>
            <button ng-click="ctrl.selected=ctrl.treeData[1]">Select by Object</button>
            <label>Selected Id: {{ctrl.selected.id}}</label></br></br>
        </div>
    </div>
</body>
<style type="text/css">
    .col-xs-6 {
        display: inline-block;
        width: 49%;
    }
    label {
        margin-left: 10px;
    }
</style>
</html>